<h3 class="text-center mt-4 mb-5">Login</h3>
<form action="">
  <div class="floating-outline mb-4">
    <i
      class="bi bi-person-fill position-absolute top-50 start-0 translate-middle-y ms-3 text-muted"
    ></i>
    <input
      type="text"
      class="form-control ps-5"
      id="username"
      placeholder=" "
    />
    <label for="username">Username</label>
  </div>

  <div class="floating-outline mb-4">
    <i
      class="bi bi-lock-fill position-absolute top-50 start-0 translate-middle-y ms-3 text-muted"
    ></i>
    <input
      type="password"
      class="form-control ps-5"
      id="password"
      placeholder=" "
    />
    <label for="password">Password</label>
  </div>

  <button class="w-100 btn btn-primary">Login</button>
</form>
<!-- Register Button -->
<div class="mt-3 d-flex justify-content-center">
  <span class="small" (click)="switchForm.emit()">
    Don't have any account?
    <span class="text-primary fw-bold" style="cursor: pointer">Register</span>
  </span>
</div>
